
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Dashboard</h2>
@Html.ActionLink("View Suppliers","Index")
<p>@Html.ActionLink("Add Admin", "RegisterAdmin", "Account")</p>


